<% unless @post.comments.empty? %>
  <h2>Comments</h2>
  <hr />
  <% @post.comments.each do |p| %>
    <div class="comment">
      <% if p.user %>
        <div>
          <h5><%= p.user.first_name %> <%= p.user.last_name %></h5>
        </div>
      <% end %>
      <div>
        <p><%= p.body  %></p>
      </div>
    </div>
    <% if can? :delete, p %>
      <div>
        <%= link_to 'Delete', post_comment_path(@post, p), method: :delete, data: { confirm: 'You sure you wanna delete this amazing comment??'} %>
      </div>
    <% end %>
  <% end %>
<% end %>
