<h1><%= @post.title %></h1>
<p><%= @post.body %></p>

<%= link_to 'Edit blog post', edit_post_path(@post) %>
<%= link_to 'Delete blog post', post_path(@post), method: :delete, data: { confirm: 'Do you want to delete?'} %>
