// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-font: 'Avenir';
$secondary-font: 'FarnhamDisplay-Light';
$background-color: white;
$heading-font-color: rgb(111, 111, 111);
$body-font-color: rgb(70, 70, 70);
$light-medium: rgb(186, 186, 186);
$link-color: rgb(111, 111, 111);
$radius: 0.3em;
$theme-color: rgb(4, 179, 137);
$secondary-color: rgb(55, 90, 150);

.container-fluid {
  width: 80%;
  margin: 5% auto;
}

 body {
   font-family: $primary-font;
   background-color: $background-color;
   color: $body-font-color;
 }

 a {
  text-decoration: none;
  color: $body-font-color;
}

h5 {
  margin-bottom: 0.3em;
}

hr {
  border-top: .5px solid $light-medium;
  margin-bottom: 2em;
}

.nav {
  display: flex;
  justify-content: flex-start;

  ul {
    padding: 0;
  }

  li {
    display: inline;
    margin-right: 0.3em;
    padding: 0 0.5em 0.3em 0.5em;
    border-bottom: 1px solid $light-medium;

    &:hover {
      border-color: $secondary-color;
    }

  }
}

 .logo {
   font-size: 1.7em;
   padding-bottom: .3em;
   font-weight: bold;
 }

 input {
   border: 0;
   padding: .6em;
   border-radius: $radius;
   background-color: none;
   color: $body-font-color;
   font-size: 14px;
   background-color: transparent;
   border: 1px solid $light-medium;
   font-family: $primary-font;
   &:hover {
     border: 1px solid $body-font-color;
     cursor: pointer;
   }
 }


.message {
  // border: 1px solid;
  // border-radius: $radius;
  // padding: .6em;
  font-size: 18px;
  margin-top: 15px;
  font-weight: bolder;
}

.post-page-head {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.search {

}

.content {
  a:hover {
    color: $link-color;
  }
}

.comment {
  // border: 1px solid $light-medium;
  margin-bottom: 0.5em;
  padding-left: 1.5em;
  // border-radius: $radius;
}

.tag {
  border: 1px solid $light-medium;
  color: $link-color;
  font-size: 0.8em;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
  border-radius: $radius;
  text-align: center;

  &:hover {
    border-color: $body-font-color;
    cursor: pointer;
    color: $body-font-color;
  }

  &-header {
    color: $light-medium;
    font-size: 0.2em;
    text-transform: uppercase;
  }
}

.tag-widget {
  margin-bottom: 3em;
  h5 {
    color: $link-color;
  }
}

.star-widget {
  .fa {
    color: $light-medium;
  }
  &-rate:hover {
    color: $link-color;
  }
}

.heart {
  color: $light-medium;
  &:hover {
    color: $link-color;
  }
  &-selected {
    color: rgb(223, 105, 105);
    &:hover {
      color: $light-medium;
    }
  }
}

.post {
  h1 {
    margin-bottom: 0.4em;
  }
  &-body {
    width: 75%;
    font-size: 1.4em;
    color: $body-font-color;
    line-height: 1.7;
    font-family: $secondary-font;
  }
}
